*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: black;
    color: white;
}

body{
    padding: 3rem;
}

ul, li{
    list-style: none;
}

header{
    margin-bottom: 3rem;
}

header ul{
    display: flex;
    gap: 3rem;
}

main > h2{
    margin-bottom: 1rem;
}
.filme{
    border: 1px solid red;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
}

.filme + .filme {
    margin-top: 1rem;
}

.buttons{
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

.buttons a,
.buttons button {
    display: block;
    text-decoration: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
}

.buttons .mais{
    border:1px solid yellow;
    background: yellow;
    color: black;
    font-weight: bolder;
}

.buttons .mais:hover{
    background: black;
    color: yellow;
}

.buttons .editar{
    border:1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    color: black;
    font-weight: bolder;
}

.buttons .editar:hover{
    background: black;
    color: rgb(255, 255, 255);
}

.buttons .excluir{
    border:1px solid rgb(235, 97, 97);
    background: rgb(235, 97, 97);
    color: black;
    font-weight: bolder;
}

.buttons .excluir:hover{
    background: black;
    color: rgb(235, 97, 97);
    cursor: pointer;
}